 ### Московский Авиационый Институт 
 #### (НАЦИОНАЛЬНЫЙ ИССЛЕДОВАТЕЛЬСКИЙ УНИВЕРСИТЕТ)
 #### Лабороторная работа №4
 #### По дисциплине "Программирование на Python"
 #### На тему "Работа с библиотекой Pandas"
 #### Выполнил студент группы Т12о-101М: Трусова В.Л.
 #### Работу принял: Поповкин А.В.
 ##### Дата: 21.11.2020
 ##### Москва, 2020г.

1. Импортировать модули sys numpy pandas

In [1]:
import sys, numpy as np, pandas as pd

2. Создать объект pandas Series из листа, объекта NumPy, и словаря

In [47]:
list_ = [1,2,3]
print(pd.Series(list_))

0    1
1    2
2    3
dtype: int64

In [48]:
dict_ = {'pd':pandas, 'np':numpy}
print(pd.Series(dict_))

pd    <module 'pandas' from 'F:\\Anaconda\\lib\\site...
np    <module 'numpy' from 'F:\\Anaconda\\lib\\site-...
dtype: object

In [49]:
np_obj = np.array([4,5,6])
print(pd.Series(np_obj))

0    4
1    5
2    6
dtype: int32

3. Преобразовать объект Series в DataFrame

In [20]:
series = pd.Series({'Fruits':['apple', 'banana', 'peach'], 'Value':['21', '34', '42']})
print(pd.DataFrame(series))

                             0
Fruits  [apple, banana, peach]
Value             [21, 34, 42]

4. Создать объект Series

In [11]:
series = pd.Series([1,2,3,4], index=['one', 'two', 'three', 'four'])
print(series)

one      1
two      2
three    3
four     4
dtype: int64

5. Преобразовать в DataFrame

In [12]:
print(pd.DataFrame(series))

       0
one    1
two    2
three  3
four   4

6. Объединить несколько объектов Series в Dataframe

In [18]:
print(pd.DataFrame({'list':list_ ,'mas':np_obj}))

   list  mas
0     1    4
1     2    5
2     3    6

7. Присвоить имя индексу объекта Series

In [17]:
series.name='Numbers'
print(series)

one      1
two      2
three    3
four     4
Name: Numbers, dtype: int64

8. Получить элементы объекта Series A, которых нет в объекте Series B

In [2]:
s1, s2 = pd.Series(['a','b','c','d']), pd.Series(['c','a','t'])
print(*s1[~s1.isin(s2)].values)

b d

9. Возвратить вместе с индексами

In [33]:
print(s1[~s1.isin(s2)])

1    b
3    d
dtype: object

10. Возвратить значения

In [37]:
print(pd.DataFrame({'alf':s1, 'cat':s2}))

  alf  cat
0   a    c
1   b    a
2   c    t
3   d  NaN

11. Получить не пересекающиеся элементы в двух объектах Series

In [8]:
print(*s1[~s1.isin(s2)].values)

b d

12. Возвратить вместе с индексами

In [39]:
print(s1[~s1.isin(s2)])

1    b
3    d
dtype: object

13. Получить объединенный Series без повтороений

In [42]:
print((pd.concat([s1,s2])).unique())

['a' 'b' 'c' 'd' 't']

14. Получить пересекающиеся данные

In [43]:
print(s1[s1.isin(s2)])

0    a
2    c
dtype: object

15. Отобрать все данные, кроме пересекающихся

In [6]:
print(s1[~s1.isin(s2)])

1    b
3    d
dtype: object

16. Возвратить значения

In [4]:
print(s1)
print(s2)
np.setxor1d(s1, s2)

0    a
1    b
2    c
3    d
dtype: object
0    c
1    a
2    t
dtype: object

array(['b', 'd', 't'], dtype=object)