 ### Московский Авиационый Институт 
 #### (НАЦИОНАЛЬНЫЙ ИССЛЕДОВАТЕЛЬСКИЙ УНИВЕРСИТЕТ)
 #### Лабороторная работа №5
 #### По дисциплине "Программирование на Python"
 #### На тему "Работа с библиотекой Pandas"
 #### Выполнил студент группы Т12о-101М: Трусова В.Л.
 #### Работу принял: Поповкин А.В.
 ##### Дата: 28.11.2020
 ##### Москва, 2020г.

In [115]:
import pandas as pd, numpy as np, datetime, re, sys

1. Получить от объекта Series показатели описательной статистики

In [7]:
pd.Series(np.arange(11)).describe()

count    11.000000
mean      5.000000
std       3.316625
min       0.000000
25%       2.500000
50%       5.000000
75%       7.500000
max      10.000000
dtype: float64

2. Узнать частоту уникальных элементов объекта Series (гистограмма)

In [8]:
data = ['a', 'b', 'b', 'c', 'b', 'a']
pd.Series(data).value_counts()

b    3
a    2
c    1
dtype: int64

3. Заменить все элементы объекта Series на "Other", кроме двух наиболее часто встречающихся

In [51]:
state = np.random.RandomState(10)
s = pd.Series(state.randint(low=0, high=4, size=[10]))
print('Кoличество повторений:\n', s.value_counts())
s[~s.isin(s.value_counts().index[:2])] = 'Other'
print(s)

Кoличество повторений:
 1    5
0    3
3    2
dtype: int64
0        1
1        1
2        0
3    Other
4        0
5        1
6    Other
7        0
8        1
9        1
dtype: object

4. Создать объект Series в индексах дата каждый день 2019 года, в значениях случайное значение

In [36]:
days = pd.date_range(start='2019-01-01', end='2019-12-31') 
d_series = pd.Series(np.random.rand(len(days)), index=days)
print(d_series)

2019-01-01    0.418679
2019-01-02    0.690065
2019-01-03    0.094502
2019-01-04    0.347106
2019-01-05    0.231828
                ...
2019-12-27    0.817975
2019-12-28    0.221806
2019-12-29    0.434544
2019-12-30    0.981009
2019-12-31    0.514321
Freq: D, Length: 365, dtype: float64

    4.1 Найти сумму всех вторников

In [45]:
print("Всего вторников:", d_series[d_series.index.weekday == 1].count())
print("Сумма значений:", d_series[d_series.index.weekday == 1].sum())

Всего вторников: 53
Сумма значений: 24.893637611606447

    4.2 Для каждого месяца найти среднее значение

In [40]:
d_series.resample('M').mean()

2019-01-31    0.492335
2019-02-28    0.501556
2019-03-31    0.543625
2019-04-30    0.452893
2019-05-31    0.463069
2019-06-30    0.500826
2019-07-31    0.535050
2019-08-31    0.527553
2019-09-30    0.445565
2019-10-31    0.515015
2019-11-30    0.575810
2019-12-31    0.519168
Freq: M, dtype: float64

5. Преобразовать объект Series в DataFrame заданной формы (shape)

In [67]:
ser = pd.DataFrame(range(8))
print(pd.DataFrame(np.resize(ser.values, (6, 3))))

   0  1  2
0  0  1  2
1  3  4  5
2  6  7  0
3  1  2  3
4  4  5  6
5  7  0  1

6. Найти индексы объекта Series кратные 3

In [7]:
s_num = pd.Series(np.arange(11))
print(*s_num[s_num.index % 3 == 0].index)

0 3 6 9

6. Получить данные по индексам объекта Series

In [54]:
print(*s_num[s_num.index % 2 == 0].values)

0 2 4 6 8 10

7. Объединить два объекта Series вертикально и горизонтально

In [9]:
data = pd.Series(data)
print(data)
print(s_num)

0    a
1    b
2    b
3    c
4    b
5    a
dtype: object
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int32

    7.1 Вертикально

In [89]:
print(s_num.append(data))

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
0      a
1      b
2      b
3      c
4      b
5      a
dtype: object

    7.2 Горизонтально

In [87]:
pd.concat([data, s_num], axis=1)

      0   1
0     a   0
1     b   1
2     b   2
3     c   3
4     b   4
5     a   5
6   NaN   6
7   NaN   7
8   NaN   8
9   NaN   9
10  NaN  10

8. Получить индексы объекта Series A, данные которых содержатся в объетке Series B

In [58]:
sa, sb = pd.Series(['d', 'e', 'd', 'i']), pd.Series(['c', 'a', 't', 'e', 'd'])
print(*sa[sa.isin(sb)].index)

0 1 2

9. Получить объект Series B, который содержит элементы без повторений объекта A

In [61]:
print(sb[~sb.isin(sa)])

0    c
1    a
2    t
dtype: object

10. Преобразовать каждый символ объекта Series в верхний регистр

In [11]:
s1 = pd.Series(['ab','bc','cd','de'])
for i in range(len(s1)):
    s1[i] = s1[i].upper()
    print(s1[i])

AB
BC
CD
DE

11. Преобразовать данные Series в строку

In [63]:
print(type(s_num[1]))
s_str = pd.Series(str(i) for i in s_num)
print(type(s_str[1]))

<class 'numpy.int32'>
<class 'str'>

12. Рассчитать количество символов в объекте Series

In [298]:
s2 = pd.Series(['uno', 'dos', 'tres', 'cuatro', 'cinco'])
print(*pd.DataFrame({'number': s2, 'count': np.array([len(i) for i in s2])}).values)

['uno' 3] ['dos' 3] ['tres' 4] ['cuatro' 6] ['cinco' 5]

13. Преобразовать в строковый тип

In [67]:
s2_str = pd.Series(str(i) for i in s2)
print(type(s2_str[1]))

<class 'str'>

14. Найти разность между объектом Series и смещением объекта Series на n

In [76]:
s3 = pd.Series(np.arange(10))
diff = s3.diff(periods=2)
print(diff)

0    NaN
1    NaN
2    2.0
3    2.0
4    2.0
5    2.0
6    2.0
7    2.0
8    2.0
9    2.0
dtype: float64

15. Преобразовать разыне форматы строк объекта Series в дату

In [131]:
date = pd.Series(['14/11/2020', '15 Nov 2020', '2020-11-16', '20201117', '18.11.2020'])
pd.to_datetime(date)

0   2020-11-14
1   2020-11-15
2   2020-11-16
3   2020-11-17
4   2020-11-18
dtype: datetime64[ns]

    15.1 Поскольку работа с датой часто встречается в работе, то см. еще один пример все данные должны иметь одинаковый формат (часто бывает выгрузка из SQL)

In [98]:
date1 = pd.Series(['14.11.2020', '15.11.2020', '16.11.2020'])

    15.2 Преобразовать в дату

In [99]:
pd.to_datetime(date1, format='%d.%m.%Y')

0   2020-11-14
1   2020-11-15
2   2020-11-16
dtype: datetime64[ns]

18. Получить год, месяц, день, день недели, номер дня в году от объекта Series (string)

In [132]:
date

0     14/11/2020
1    15 Nov 2020
2     2020-11-16
3       20201117
4     18.11.2020
dtype: object

    18.1 распарсить в дату и время

In [144]:
f_date = date.map(lambda x: parse(x))
print(f_date)

0   2020-11-14
1   2020-11-15
2   2020-11-16
3   2020-11-17
4   2020-11-18
dtype: datetime64[ns]

    18.2 получить года

In [145]:
f_date.dt.year

0    2020
1    2020
2    2020
3    2020
4    2020
dtype: int64

    18.3 получить месяца

In [146]:
f_date.dt.month

0    11
1    11
2    11
3    11
4    11
dtype: int64

    18.3 получить дни

In [147]:
f_date.dt.day

0    14
1    15
2    16
3    17
4    18
dtype: int64

    18.4 получить номер недели

In [148]:
f_date.dt.weekofyear

0    46
1    46
2    47
3    47
4    47
dtype: int64

    18.5 получить номер дня в году

In [149]:
f_date.dt.dayofyear

0    319
1    320
2    321
3    322
4    323
dtype: int64

19. Отобрать элементы объекта Series, кторые содержат не менее двух гласных

In [267]:
s4 = pd.Series(['owl', 'pandas', 'snake', 'cat', 'beluga', 'dog'])
for i in range(len(s4)):
    print(re.findall('(?:[a-z]*[aeiouy]){2,}', s4[i]), end = ',')

[],['panda'],['snake'],[],['beluga'],[],

20. Отобрать e-маилы из объекта Series (можно юзать регулярки)

In [286]:
mails = pd.Series(['qw3rty@qwe.rty', 'qwerty@qwer.ty', 'qwer.ty', 'qwer@ty'])
pattern = '(\w+)@([a-z0-9]+)\.([a-z]{2,4})'
for i in range (len(mails)):
    if (re.findall(pattern, mails[i])):
        print(mails[i])

qw3rty@qwe.rty
qwerty@qwer.ty

21. Получить среднее значение каждого уникального объекта Series s1 через "маску" другого объекта Series s2

In [300]:
seria1 = pd.Series(np.random.choice(['a', 'b', 'c', 'd'], 10))
seria2 = pd.Series(np.linspace(1,10,10))
print(seria1)
print(seria2)
seria2.groupby(seria1).mean()

0    a
1    d
2    b
3    d
4    b
5    a
6    d
7    a
8    a
9    d
dtype: object
0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     6.0
6     7.0
7     8.0
8     9.0
9    10.0
dtype: float64

a    6.00
b    4.00
d    5.75
dtype: float64